{
  "extends": ["eslint-config-egg"],
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ]
}
